<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
    <title>ModularAdmin - Free Dashboard Theme | HTML Version</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

  </head>
    <body >
    <div class="authbody"></div>
        <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                        
                            </h1>
                    </header>
                <%= yield %>
                </div>
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <%= javascript_include_tag 'rails_modular_admin' %>
    </body>
</html>